@import './variables.scss';

.button {
    padding: 5px;
    border: unset;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.button--magenta {
    @extend .button;
    background-color: $magentaPink;
    color: white;
}

.button--grey {
    @extend .button;
    background-color: $grey1;
}

.button--selector {
    @extend .button;
    background-color: transparent;
    font-weight: normal;
    color: white;
    border-radius: 0;
}

.input {
    padding: 10px;
    border: unset;
    border-radius: 5px;
    color: white;
}

.input--dark-grey {
    @extend .input;
    background-color: $darkGrey;
}

.selectorButton {
    text-transform: uppercase;
    color: white;
}